/* Garago theme */
$garago-blue: #419ed1;
$garago-dark-blue: #0E6B9E;

.btn-primary {
    background-color: $garago-blue;
}
.btn-primary:active {
    background-color: $garago-dark-blue;
}
.btn-primary:hover {
    background-color: $garago-dark-blue;
}
.btn-primary:focus {
    background-color: $garago-dark-blue;
}

