[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
C                      = CA
ST                     = New Brunswick
L                      = Moncton
O                      = Garago Software
OU                     = techops
CN                     = burtonize.me
emailAddress           = mathieu@garago.ca

